<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../../css/mui.min.css">
		<style type="text/css">
			#list {
				/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
				margin-top: -1px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">团购专用</h1>
		</header>
		<div class="mui-content">
			<ul id="list" class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#">
						客户订货单
					</a>
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="">
								查询 / 修改
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="">
								录入
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="">
								审核
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="">
								作废
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right" href="">
								关闭
							</a>
						</li>
					</ul>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" onclick="openWindow('stock_query.html')">
						库存查询
					</a>
				</li>
			</ul>
		</div>

		<script src="../../../js/mui.min.js"></script>
		<script>
			function openWindow(id) {
				mui.openWindow({
					url: id,
					show: {
						aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
						duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
					},
					waiting: {
						autoShow: true, //自动显示等待框，默认为true
						title: '正在加载...' //等待对话框上显示的提示内容
					}
				});
			}
		</script>
	</body>

</html>