<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/icons-extra.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/common.css" />
	</head>

	<body>
		<!-- 顶部 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">库存查询</h1>
			<a class="mui-icon mui-icon-extra mui-icon-extra-sweep mui-icon-right-nav mui-pull-right" onclick="clicked('barcode_scan.html', true, true);"></a>
		</header>

		<!-- 内容 -->
		<div class="mui-content">
			<div class="mui-card">
				<div class="mui-card-content-inner" style="text-align: center;">
					<div class="row">
						<label>型号：</label>
						<label id="cmteid"></label>
					</div>
					<div class="row">
						<label>库存：</label>
						<label id="stock_qty"></label>
					</div>
				</div>
			</div>
		</div>

		<script src="../../../js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/immersed.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			// mui初始化配置
			mui.init();

			// 加载server
//			var server = localStorage.getItem("server");
			var server = 'http://192.168.1.100:2345';

			// 二维码
			function scaned(r) {
				$("#cmteid").text("");
				$("#stock_qty").text("");
				$("#cmteid").text(r);
				storck_qry(r);
			};

			// 查团购库存
			function storck_qry(cmteid) {
				var parm = {cmteid: cmteid};
				var json = JSON.stringify(parm);
				
				mui.ajax({
					type: "Post",
					url: server + "/Sale_GB/storck_qry",
					crossDomain: true,
					headers: {
						'Content-Type': 'application/json'
					},
					data: json,
					dataType: "json",
					success: function(data) {
						$("#stock_qty").text(data);
					},
					error: function(error) {
						alert("库存查询失败，请检查网络是否畅通。 " + error)
					}
				});
			}
		</script>
	</body>

</html>